* text=auto !eol
/amap.f -text
/bigxy4.h -text
/cdf.nml -text
/cdfvidar.f -text
/cvalue.h -text
/dates.h -text
/dryadj.f -text
/esmtrv.f -text
/estab.h -text
/fill.f -text
/filt.f -text
/findxn.f -text
/gblparm.h -text
/indices.h -text
/indices_gx.h -text
/invert.f -text
/jimcc.f -text
/jimco.f -text
/latlong.h -text
/latlong_gx.h -text
/lconset.f -text
/lmax.h -text
/makefile -text
/map.h -text
/map_gx.h -text
/mapproj.h -text
/maxmin.f -text
/mslp.f -text
/n-setxyz.f -text
/new-sintp16.f -text
/newmpar.h -text
/newmpar_gx.h -text
/nfft.f -text
/nplevs.h -text
/o-setxyz.f -text
/o-sintp16.f -text
/one.f -text
/outcdf.f -text
/parm.h -text
/prt_pan.f -text
/setxyz.f -text
/sigdata.h -text
/sigs.h -text
/sintp16.f -text
/sintp16x.f -text
/soil.h -text
/staguv.f -text
/tomod.f -text
/tot.f -text
/utilities.f90 -text
/vecsuv.h -text
/vecsuv_gx.h -text
/vidar.f -text
/vidar.h -text
/vispl.f -text
/xyzinfo.h -text
/xyzinfo_gx.h -text
