* text=auto !eol
/amap.f -text
/ccinterp.f90 -text
/cdfvidar.f90 -text
/cll_m.f90 -text
/comsig_m.f90 -text
/dryadj.f -text
/esmtrv.f -text
/estab.h -text
/fill.f -text
/filt.f -text
/findxn.f -text
/ind_m.f90 -text
/indices_m.f90 -text
/invert.f -text
/jim_utils.f90 -text
/jimcc_m.f90 -text
/jimco_m.f90 -text
/latlong_m.f90 -text
/latltoij_m.f90 -text
/lconset.f -text
/lmax.h -text
/makefile -text
/maxmin.f -text
/mslp.f -text
/netcdf_m.f90 -text
/newmpar_m.f90 -text
/nfft.f -text
/nfft_m.f90 -text
/nplevs.h -text
/outcdf.f90 -text
/parm_m.f90 -text
/precis_m.f90 -text
/prt_pan.f -text
/setxyz_m.f90 -text
/sigdata_m.f90 -text
/sintp16.f -text
/version.h -text
/vidar.f -text
/vidar.h -text
/vispl.f -text
/xyzinfo_m.f90 -text
